{% extends 'default.html.twig' %}

{% block title %}Polideportivo Jose Planes{% endblock %}
{% block body %}

<br><br><br>
        <table class="cal">
		<h1 style="text-align: center;">Recreo 2018-2019</h1> 
		<thead>
			<tr>
				<th></th>
				<th colspan="2">Lunes</th>
				<th colspan="2">Martes</th>
				<th>Miércoles</th>
				<th colspan="2">Jueves</th>
				<th>Viernes</th>

			</tr>

		</thead>

		<tbody>
			<tr>
				<td class="horas">8:30 <br>a <br>9:25  </td>
				<td class="Aer">Aerobic<span> C1 </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
                </td>
				<td class="Gim" rowspan="3" > <br><br><br><br> Gimnasio<span> Gimnasio</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="18" disabled> 
                </td>
               
				<td class="Pil">Pilates <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
                <td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
			</tr>
		
			<tr>
				<td class="horas">9:25 <br> a <br> 10:20 </td>
				<td class="Bici">Bici<span> Aula</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 23" disabled>
                </td>
				<td class="Bici">Bici<span> Aula</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 23" disabled>
                </td>
				<td class="Piernas">Piernas <span> Aula Piernas</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 14" disabled>
				</td>
				<td class="Piernas">Piernas <span> Aula Piernas</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 13" disabled>
				</td>
				<td class="Bici" rowspan="2"><br><br> Bici<span> Aula</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 23" disabled><br><br>
				</td>
				<td class="Aer">Aerobic <span> Aula</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 23" disabled>
				</td>
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
			</tr>

			<tr>
				<td class="horas">10:20 <br>a <br>11:00  </td>
				<td class="Aer">Aerobic<span> C1 </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
                </td>
				
               
				<td class="Pil">Pilates <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				<td class="Gim">Gimnasio <span> Aula Piernas </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Piernas">Piernas <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
               


			</tr>

			<tr>
				<td class="horas">11:00 <br> a <br> 11:30 </td>
				<td class="Pil" rowspan="2"><br><br> Pilates <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled><br><br>
                </td>
				
				<td class="Fitness" rowspan="2"> <br><br> Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled> <br><br>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Piernas">Piernas <span> Gimnasio </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Gim">Gimnasio <span> Aula Piernas </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				
				

			<tr>
				<td class="horas">11:30 <br>a <br>12:25 </td>
				
				<td class="Bici">Bici<span> Aula</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 23" disabled>
                </td>
				<td class="Piernas">Piernas <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				<td class="Maq" rowspan="2"> <br><br> Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled><br><br>
				</td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Piernas">Piernas <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				
                
               
			</tr>
				

			<tr>
				<td class="horas">12:25 <br>a <br>13:05 </td>
				<td class="Aer">Aerobic<span> C1 </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
                </td>
				<td class="Gim" rowspan="2" > <br><br> Gimnasio<span> Gimnasio</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="18" disabled> <br><br>
                </td>
               
				<td class="Pil">Pilates <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
                <td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
			</tr>


			<tr>
				<td class="horas">13:05 <br>a <br>14:15 </td>
				<td class="Pil">Pilates<span> C1 </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
                </td>
				
               
				<td class="Aer">Aerobic <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Piernas" rowspan="2"><br><br> Piernas <span> Aula Piernas</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 13" disabled><br><br>
				</td>
				<td class="Bici">Bici <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
                <td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
			</tr>


			<tr>
				<td class="horas">14:15 <br>a <br>15:25 </td>
				<td class="Aer">Aerobic<span> C1 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
				</td>
				<td class="Pil" rowspan="2"><br><br> Pilates <span> C2</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled><br><br>
				</td>
				<td class="Ten">Tenis <span> C4</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
				</td>
				<td class="Piernas" rowspan="2"><br><br> Piernas <span> C4</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled><br><br>
				</td>
				<td class="Gim">Gimnasio <span> Aula Piernas </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
			</tr>
			

			<tr>
				<td class="horas">15:25 <br>a <br>16:05 </td>
				<td class="Gim">Gimnasio <span> Aula Piernas </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				
				<td class="Fitness ">Fitness <span> C4</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
				</td>
				
				<td class="Aer">Aerobic<span> C1 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
				</td>
				
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				<td class="Maq">Maquinas <span> C5 </span> 
					<input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
				</td>
				<td class="Ten" rowspan="2"><br><br> Tenis <span> C4</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled><br><br>
				</td>
			</tr>
			<tr>
				<td class="horas">16:05 <br>a <br>17:25 </td>
				<td class="Pil">Pilates<span> C1 </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
                </td>
				<td class="Aer">Aerobic <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Fitness">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Piernas"> Piernas <span> Aula Piernas</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder=" 13" disabled>
				</td>
				<td class="Bici">Bici <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
                <td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				
			</tr>
			<tr>
				<td class="horas">17:25 <br>a <br>18:35 </td>
				
				<td class="Aer">Aerobic<span> C1 </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder=" 8" disabled> 
                </td>
				<td class="Gim">  Gimnasio<span> Gimnasio</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="18" disabled> 
                </td>
               
				<td class="Pil">Pilates <span> C2</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
				<td class="Ten">Tenis <span> C4</span>
					<input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
				</td>
				<td class="Fitness ">Fitness <span> C4</span>
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="10" disabled>
                </td>
                <td class="Gim">Gimnasio <span> Gimnasio </span> 
                    <input type="text" style="width : 40px; heigth : 1px" placeholder="20" disabled>
                </td>
			</tr>
			
		</tbody>
	</table>

  <br><br>
{% endblock %}
