{% extends 'default.html.twig' %}

{% block title %}Polideportivo Jose Planes{% endblock %}

{% block body %}

<br><br><br><br>
       

    <div class="container">
		<br><br>
   		 <div align="left">

		 			<img class="image" src="{{ asset('images/about-01-480x480.jpg') }}" alt="" />
					<h3 class="username text-center">Mariane Felix Fernandes</h3>
					<a href="#" class="btn btn-primary"><b>Editar foto</b>
					</a>
					<br><br>
		</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10">
					<div class="form-group">
						<div class="input-group">
						<input  name="Nombre" type="text" required class="form-control" placeholder="Nombre">
						<span class="input-group-addon">--------------</span>
						<input name="Apellidos"  type="text" required class="form-control" placeholder="Apellidos">
						</div>
					</div>
					</div>
				</div>
			</div>

		<br> <br>

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10">
					<div class="form-group">
						<div class="input-group">
						<input style="width:65px;" name="Altura" type="text" required class="form-control" placeholder="Altura Metrica">
						<span class="input-group-addon">----------------</span>
						
						<select style="width:67px;" class="form-select" aria-label="Tipos de Socio">
							<option selected>Tipos de Socio</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
						</div>
					</div>
					</div>
				</div>
			</div>

		<br> <br>

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10">
						<div class="form-group">
							<div class="input-group">
								<input style="width:42px;" name="FechaNac" type="text" required class="form-control" placeholder="Fecha Nacimiento" onfocus="(this.type = 'date')">
								<span class="input-group-addon">---------------</span>
								<input style="width:42px;" name="Direccion" type="number" required class="form-control" placeholder="Peso">
							</div>
						</div>
					</div>
				</div>
			</div>
	<br><br>

	</div>
		<button float="left" type="button" class="btn btn-success">Enviar</button>
 

  <br><br>
{% endblock %}
