<h1>Hola, por favor confirme su email</h1>

<p>
    Haga click en el siguiente link para confirmar: <br><br>
    <a href="{{ signedUrl }}">Confirme</a>.
    El link expirara en: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    
</p>
