{% extends 'base.html.twig' %}

{% block title %}Edit HistoricoClases{% endblock %}

{% block body %}
    <h1>Edit HistoricoClases</h1>

    {{ include('historico_clases/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_historico_clases_index') }}">back to list</a>

    {{ include('historico_clases/_delete_form.html.twig') }}
{% endblock %}
