{% extends 'base.html.twig' %}

{% block title %}New HistoricoClases{% endblock %}

{% block body %}
    <h1>Create new HistoricoClases</h1>

    {{ include('historico_clases/_form.html.twig') }}

    <a href="{{ path('app_historico_clases_index') }}">back to list</a>
{% endblock %}
